
/* COVER */
.section1Container1 {
  height: auto;
  display: flex;
  align-content: flex-start;
  /*justify-content: flex-start;*/
  flex-direction: column;
  padding-bottom: 5vh;
}

.cover {
    display: flex;
    flex-direction: column;
}

.icon1 {
  align-self: flex-start;
  z-index: 998;
/*  background-color: #f5f5f7;*/

  margin-left: 5%;
  margin-top: 10px;
  height: 10vh;
  /*padding: 6px 6px 6px 6px;*/
}


.container {
  /*position: absolute;*/
  z-index: 998;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 10px;
  height: 100%;
  width: auto;
  /*margin-left: 2.5%;*/
/*  border: 2px solid black;
  border-radius: 5px;*/
  /*background: #FBFBFD;*/
  /*background: #eef0ff;*/
  overflow: auto;
}

.container h2 {
  margin-top: 10px;
  z-index: 998;
/*float: left;*/
/*position: absolute;*/
/*overflow: visible;*/
}

.image {
  margin: 0% 5%;
  width: 70%;
  max-width: 700px;
  align-self: center;
  /*z-index: 0;*/
}

.section1Container2 {
  /*display: flex;*/
  /*align-content: center;*/
  /*justify-content: flex-end;*/
  display: block;
  overflow: auto;
  position: relative;
}




.headerPricing {
  text-align: center;
  color: #000000;
  font-size: 48px;
  padding-top: 7px;
}


@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}