.section1Container1 {
  color: #4039a8;
  padding-top: 10px;
}

.cover {
  background-image: url(../public/UnderConstruction.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  /*width: cover;*/
  /*align-self: flex-end;*/
  /*margin-right: 10%;*/
  /*margin-top: 25%;*/
  /*margin-left: auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-content: flex-start;*/
  /*justify-content: flex-start;*/
  /*position: relative;*/
  /*height: 80vh;*/
  /*margin-left: 20%;*/
}

.devMessage {
  text-align: center;
  padding-top: 10px;
}